<!DOCTYPE html>
<html lang="en" ng-app="website">

    <head>
        <title>Tommaso | Landing Page</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#00FF00">
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/website.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <!-- CSS docs -->
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="css/landing-page.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    </head>

    <body>
      <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="index.html">Home</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="index.html#about">About Me</a>
              </li>
              <li>
                <a href="index.html#skills">Skills</a>
              </li>
              <li>
                <a href="index.html#projects">Projects</a>
              </li>
              <li>
                <a href="solutions.html">Solutions</a>
              </li>
              <li>
                <a href="index.html#contact">Contact</a>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
      </nav>

        <!-- Header -->
          <a name="header" class="SmoothScroll"></a>
          <div class="intro-header">
            <div class="black-alpha">
              <div class="container height-full">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="intro-message">
                      <img src="img/tommy-suit.jpg" alt="Tommy in a suit" class="face-pic">
                      <h1>Tommaso Pieroncini</h1>
                      <h3>Mobile Developer &bull; Hackathon Hacker Enthusiast &bull; Student Researcher</h3>
                      <hr class="intro-divider">
                      <ul class="list-inline intro-social-buttons">
                        <li>
                          <a href="https://github.com/TommasoPieroncini" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"> </i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                          <a href="https://www.linkedin.com/in/tommaso-pieroncini-a717bb106" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                        <li>
                          <a href="mailto:tommy.pieroncini@gatech.edu?Subject=Hi%20There" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">E-Mail</span></a>
                        </li>
                        <li>
                          <a href="res/Tommaso_Pieroncini_Resume-2016.pdf" download target="_blank" class="btn btn-default btn-lg"><i class="fa fa-download fa-fw"></i> <span class="network-name">Resume</span></a>
                        </li>
                        </br>
                        </br>
                        <li ng-controller="MainCtrl">
                          <a ng-click="toggleModal('Message Me (goes directly to my phone!)')" class="btn btn-default btn-lg"><i class="fa fa-comment fa-fw"></i> <span class="network-name">Message Me!</span></a>
                          <modal visible="showModal">
                            <form ng-submit="submit(message)" ng-controller="MessageForm" novalidate>
                              </br></br>
                              First name:
                              </br>
                              <input type="text" ng-model="message.firstname" required/></br></br>
                              Last name:
                              </br>
                              <input type="text" ng-model="message.lastname" required/></br></br>
                              </br>
                              Contact (email or cellphone number):
                              </br>
                              <input type="text" ng-model="message.contact"/></br></br>
                              </br>
                              Your message:</br>
                              <textarea ng-model="message.text" cols="60" rows="8" required></textarea></br></br>
                              </br>
                              <button class="btn btn-default" type="submit"><span class="network-name"> Send</span></button>     
                              <button class="btn btn-default" type="button" ng-click="reset()"><span class="network-name"> Reset</span></button>
                              </br></br>
                              <!--<pre>message = {{message | json}}</pre> -->
                            </form>
                          </modal>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /.row -->
              </div>
              <!-- /.container -->
            </div>
            <!-- /.black-alpha -->
          </div>
          <!-- /.intro-header -->

          <!-- About-me Section -->
          <a name="about" class="SmoothScroll"></a>
          <div class="content-section-a aboutMe-section">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-sm-6">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">My Story</h2>
                  <hr class="section-heading-spacer">
                  <p class="lead">
                    <br/>
                    <br/>
                    Hi and welcome to my webpage!
                    <br/>
                    This is still a work in progress, but you can check out the rest of my github profile <a href="https://github.com/TommasoPieroncini/">here</a>.
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                  </p>
                </div>
                <div class="col-lg-7 col-lg-offset-1 col-sm-6 aboutMe-image">
                  <img class="img-responsive" src="img/flight.png" alt="Swamphacks">
                </div>
                <div class="col-lg-7 col-lg-offset-1 col-sm-6 aboutMe-image">
                  <img class="img-responsive" src="img/klaus-building.jpg" alt="Klaus Advanced Computing Building, Georgia Tech">
                </div>
                <div class="col-lg-7 col-lg-offset-1 col-sm-6 aboutMe-image">
                  <img class="img-responsive" src="img/coding-swamphacks.jpg" alt="Swamphacks">
                </div>
              </div>
            </div>
          </div>

          <a name="skills" class="SmoothScroll"></a>
          <div class="content-section-b skills-section">
            <div class="container">
              <div class="row">
                <div class="col-lg-7 col-sm-6">
                  <div class="clearfix"></div>
                  <h1 class="section-heading">Skills</h2>
                  <hr class="section-heading-spacer-skills">
                  <p class="lead"></p>
                </div>
                <dl class="col-lg-5 skills-legend">
                    <dt style="background-color: red; color: white">Beginner</dt>
                    &nbsp;
                    <dt style="background-color: green; color: white">Intermediate</dt>
                    &nbsp;
                    <dt style="background-color: blue; color: white">Advanced</dt>
                </dl>
              </div>
              <div class="skills">
                <div>
                  <h2>Languages</h3>
                    <br />
                    <div class="row" style="vertical-align: center">      
                      <div class="col-md-3">
                        <i class="devicon-java-plain skill-level-advanced fa-5x"></i>
                        <h3>Java</h3>
                      </div>
                      <div class="col-md-3">
                        <i class="devicon-python-plain skill-level-intermediate fa-5x"></i>
                        <h3>Python</h3>
                      </div>
                      <div class="col-md-3">
                        <i class="devicon-html5-plain skill-level-intermediate fa-5x"></i>
                        <h3>HTML</h3>
                      </div>
                      <div class="col-md-3">
                        <i class="devicon-css3-plain skill-level-intermediate fa-5x"></i>
                        <h3>CSS</h3>
                      </div>
                      <div class="col-md-3">
                        <i class="devicon-javascript-plain skill-level-intermediate fa-5x"></i>
                        <h3>JavaScript</h3>
                      </div>
                      <div class="col-md-3">
                        <i class="devicon-mysql-plain skill-level-beginner fa-5x"></i>
                        <h3>MySQL</h3>
                      </div>
                      <div class="col-md-3">
                        <i class="devicon-php-plain skill-level-beginner fa-5x"></i>
                        <h3>PHP</h3>
                      </div>
                    </div>
                </div>
                <div>
                  <h2>Frameworks & Technologies</h2>
                  <br />
                  <div class="row">
                    <div class="col-md-3">
                      <i class="devicon-android-plain skill-level-advanced fa-5x"></i>
                      <h3>Android</h3>
                    </div>
                    <div class="col-md-3">
                      <i class="devicon-git-plain skill-level-intermediate fa-5x"></i>
                      <h3>Git</h3>
                    </div>
                    <div class="col-md-3">
                      <i class="devicon-bootstrap-plain skill-level-intermediate fa-5x"></i>
                      <h3>Bootstrap</h3>
                    </div>
                  </div>
                </div>
                <div>
                  <h2>Operating Systems</h2>
                  <br />
                  <div class="row">
                    <div class="col-md-3">
                      <i class="devicon-windows8-original skill-level-advanced fa-5x"></i>
                      <h3>Windows</h3>
                    </div>
                    <div class="col-md-3">
                      <i class="devicon-ubuntu-plain skill-level-intermediate fa-5x"></i>
                      <h3>Linux (Ubuntu)</h3>
                    </div>
                    <div class="col-md-3">
                      <i class="devicon-debian-plain skill-level-intermediate fa-5x"></i>
                      <h3>Linux (Debian)</h3>
                    </div>
                  </div>
                </div>
              </div>
              <!-- skills div -->
            </div>
            <!-- /.container -->
          </div>
          <!-- /.content-section-a -->

          <!-- <a name="projects" class="SmoothScroll"></a>
          <div class="content-section-a projects-section">

            <div class="container">
              <h2 class="text-center">My Projects
                <br />
                <br />
              </h2>

              <div class="row">
                <div class="col-md-4 project-div">
                  <a href="github-link" target="_blank">
                    <div class="image-div tint">
                      <img class="img-responsive project-img" src="img/music.jpg" alt="">
                    </div>
                  </a>
                  <h3>Project 1</h3>
                </div>
                <div class="col-md-4 project-div">
                  <a href="github-link" target="_blank">
                    <div class="image-div tint">
                      <img class="img-responsive project-img" src="img/lock.png" alt="">
                    </div>
                  </a>
                  <h3>Project 2</h3>
                </div>
                <div class="col-md-4 project-div">
                  <a href="github-link" target="_blank">
                    <div class="image-div tint">
                      <img class="img-responsive project-img" src="img/caesar-cipher.png" alt="">
                    </div>
                  </a>
                  <h3>Project 3</h3>
                </div>
              </div>
              <br />
              <br />

              <div class="row">
                <div class="col-md-4 project-div">
                  <a href="github-link" target="_blank">
                    <div class="image-div tint">
                      <img class="img-responsive project-img" src="img/risk.png" alt="">
                    </div>
                  </a>
                  <h3>Project 4</h3>
                </div>
                <div class="col-md-4 project-div">
                  <a href="github-link" target="_blank">
                    <div class="image-div tint">
                      <img class="img-responsive project-img" src="img/pass-gen.jpg" alt="">
                    </div>
                  </a>
                  <h3>Project 5</h3>
                </div>
                <div class="col-md-4 project-div">
                  <a href="github-link" target="_blank">
                    <div class="image-div tint">
                      <img class="img-responsive project-img" src="img/matrix.png" alt="">
                    </div>
                  </a>
                  <h3>Project 6</h3>
                </div>
              </div>
            </div>
            <!-- /.container -->

          </div>
          <!-- /.content-section-b --> -->


      <!-- Scripts -->
      <!-- jQuery -->
      <script src="js/jquery.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="js/bootstrap.min.js"></script>

      <!-- Smooth Scroll -->
      <!-- for links -->
      <script type="text/javascript" src="js/smoothLinks.js"></script>
      <!-- for regular scrolling -->
      <script type="text/javascript" src="js/smoothPageScroll.js"></script>
    </body>
</html>
